body {
    background-color: rgb(22, 2, 36);
}

table {
    table-layout: fixed;
    width: 80%;
    height: 90%;
    color: rgb(254, 252, 252);
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
}

caption {
    background: rgb(8, 107, 68);
    caption-side: top;
    text-align: center;
}
tbody {
    background: rgb(5, 40, 5);
}

tfoot {
    background: rgb(59, 55, 2);
}

th {
    color: aliceblue;
    border-collapse: collapse;
    border: rgb(180, 246, 255) 56px;
    border-style: inset;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(63, 122, 95);
}

a {
    color: aliceblue;
}