.navbar {
    background-color: #ffffff;
}

.navbar .navbar-brand {
    color: #6258d1;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #e38f36;
}

.navbar .navbar-text {
    color: #6258d1;
}

.navbar .navbar-text a {
    color: #e38f36;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #e38f36;
}

.navbar .navbar-nav .nav-link {
    color: #6258d1;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #e38f36;
}

.navbar .navbar-nav .dropdown-menu {
    background-color: #ffffff;
    border-color: #ffe4d0;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #6258d1;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #e38f36;
    background-color: #ffe4d0;
}

.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #ffe4d0;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #e38f36;
    background-color: #ffe4d0;
}

.navbar .navbar-toggler {
    border-color: #ffe4d0;
}

.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
    background-color: #ffe4d0;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    color: #6258d1;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #6258d1;
}

.navbar .navbar-link {
    color: #6258d1;
}

.navbar .navbar-link:hover {
    color: #e38f36;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #6258d1;
    }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #e38f36;
    }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #e38f36;
        background-color: #ffe4d0;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #6258d1;
    }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #e38f36;
    }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #e38f36;
        background-color: #ffe4d0;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #6258d1;
    }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #e38f36;
    }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #e38f36;
        background-color: #ffe4d0;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #6258d1;
    }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #e38f36;
    }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #e38f36;
        background-color: #ffe4d0;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #6258d1;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e38f36;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e38f36;
    background-color: #ffe4d0;
}
.dropdown{
    position: relative;
    display: inline-block;
}